@charset "utf-8";

body {
  background-color: #fff;
  color: #000;
}

.menuContent {
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }

  .listSelect {
    background-color: #000;
    color: #fff;
  }

  .menuContent {
    background-color: #000;
  }

  .dialog {
    background-color: #000;
    color: white;
  }  
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 0;
  --line-height-default: 1.5rem;
  line-height: var(--line-height-default);
  --z-index-cover: 100;
  --z-index-menu: 101;
}

.material-icons {
  padding: .5rem;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.playButton {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 3rem;
}

.songList {
  margin-left: 5vw;
  width: 35vw;
}

.selectedList {
  overflow: hidden scroll;
  height: calc(100% - 2.5rem);
}

main {
  height: 100vh;
  overflow: hidden hidden;
}

.playerMain {
  display: flex;
  height: calc(100vh - 4rem);
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: center;
}

.controlBar {
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: var(--line-height-default);
}

.thumbnail {
  margin: auto 0;
  height: 2rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.songElemWrapper {
  position: relative;
}

.songElem {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  display: flex;
}

.controlRight {
  margin-left: auto;
}

.controlIcons {
  height: 100%;
}

.playSongInfo {
  display: flex;
  margin: auto;
  overflow: hidden hidden;
  max-width: calc(100vw - 23rem);
  white-space: nowrap;
}

.timeInfo {
  width: 7rem;
}

.disable {
  color: gray;
}

.seekBar {
  height: 1rem;
  width: 100vw;
  margin: 0;
}

.playerFooter {
  line-height: 0;
}

.userListEdit {
  display: flex;
}

.listSelect {
  flex: 1;
  cursor: pointer;
}

.buttonText {
  border: 1px solid gray;
  padding: .3rem;
  text-align: center;
  cursor: pointer;
}

.editButton {
  width: 2.7rem;
}

.listSelect {
  border: 1px solid gray;
  width: calc(100% - 2.7rem - 2px);
}

.checkBoxCover {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-index-cover);
  opacity: 1;
}

.menuContent {
  display: none;
  position: fixed;
  border: solid 1px gray;
  z-index: var(--z-index-menu);
  opacity: 1;
}

.songListElemMenu {
  display: block;
  position: absolute;
  right: 1rem;
}

.songListElemMenuExpandToLower {
  top: 1rem;
}

.songListElemMenuExpandToUpper {
  bottom: 1rem;
}

.menuContent ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuContent ul li {
  border: 1px solid gray;
  padding: 0.5rem;
  cursor: pointer;
}

#editButtonContent {
  top: 1rem;
  right: calc(5vw + 2rem);
  display: block;
}

.songElemMenuButton {
  font-size: 2rem;
  margin: auto 0;
  cursor: pointer;
}

.songInfo {
  flex: 1;
  cursor: default;
}

.dialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dialogText {
  white-space: nowrap;
}

.listNameInput {
  width: 15rem;
  margin: 1rem;
  margin: auto;
}

.deleteListNameDisp {
  margin: auto;
}

.dialogButtonArea {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0 auto;
}

#ytwrapper {
  width: min(50vw, calc((100vh - 3rem) / 9 * 16));
  height: min(100%, calc(50vw * 0.5625));
  margin: auto 0;
}
#ytplayer {
  width: 100%;
  height: 100%;
}

#importFile {
  display: none;
}

@media screen and (max-width: 935px) {
  .playerMain {
    flex-direction: column;
  }

  #ytwrapper {
    width: 90vw;
    height: calc(90vw * 0.5625);
  }

  .material-icons {
    font-size: 1.5rem;
  }

  .playButton {
    font-size: 2rem;
  }

  .songList {
    margin-left: 0;
    width: 90vw;
    height: calc(100vh - 3rem - 90vw * 0.5625);
  }

  .playSongInfo .thumbnail {
    display: none;
  }

  .controlIcons {
    margin-top: .5rem;
  }

  .playSongInfo {
    max-width: calc(100vw - 16rem);
  }

  .timeInfo {
    display: none;
  }

  #editButtonContent {
    top: calc(90vw * 0.5625);
  }
}
